@import url("https://fonts.googleapis.com/css2?family=Lobster+Merriweather+Fira+Sans:wght@300&display=swap");

.App {
  margin: 0 auto;
  color: white;
}

.temp {
  font-family: "Fira sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 200;
  padding: 0 auto;
  margin: 0;
  text-align: center;
}

.condition {
  font-family: "Merriweather", sans-serif;
  font-size: 1.2rem;
  padding: 0 auto;
  margin: 0;
}

.icon {
  height: 100px;
}
